{{ header }}{{ column_left }}
{% block content %}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ add }}" data-toggle="tooltip" title="Add New" class="btn btn-primary"><i class="fa fa-plus"></i></a>
      </div>
      <h1>Upload Files</h1>
      <ul class="breadcrumb">
          <!-- Breadcrumbs go here -->
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if files %}
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td class="text-left">File Name</td>
            <td class="text-left">File Path</td>
            <td class="text-left">Actions</td>
          </tr>
        </thead>
        <tbody>
          {% for file in files %}
          <tr>
            <td class="text-left">{{ file.name }}</td>
            <td class="text-left">{{ file.file_path }}</td>
          <td class="text-left">
  <a href="{{ file.file_url }}" target="_blank">View / Download</a>
  <br>
  <code>{{ '{{ upload_file_' ~ file.file_id ~ ' }}' }}</code>
</td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <code>   
       // Загрузка модели
    $this->load->model('extension/module/upload_files');
    // Получение информации о файлах
    $files = $this->model_extension_module_upload_files->getFiles();
    
    // Добавление файлов в данные шаблона
    foreach ($files as $file) {
        $data['upload_files'][$file['file_id']] = $file['url'];
    }</code>
    {% else %}
    <p>No files have been uploaded yet.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
{{ footer }}